<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="total-tickets">
			  	<div class="card-header">
			  		<h5 class="card-title"> Total  Tickets</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_tickets}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="total-tickets">
			  	<div class="card-header">
			  		<h5 class="card-title">Tickets Opened</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{open}}</h3>
			  	</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="total-tickets">
			  	<div class="card-header">
			  		<h5 class="card-title">Tickets InProgess</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{inprogress}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="tickets-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Tickets Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="total-tickets">
			  	<div class="card-header">
			  		<h5 class="card-title">Tickets Resolved</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{resolved}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>